body {
background-image: url("https://mocah.org/uploads/posts/5400944-computer-laptop-technology-macbook-internet-apple-macbook-air-shadow-keyboard-mbp-typepad-still-life-black-background-night-png-images.jpg");
background-repeat: no-repeat, repeat;
background-size: cover;
font-size: 2rem;
font-family: 'Zen Dots', cursive;
color: aliceblue;
}


hr {
    border-width: 10px;
  border-color: orange;
  width: 100%;
  margin:auto;
  display:block;
  max-width: 30%;
  color: orange;
  

}
.btn {
    font-size: 30;
    border-radius: 15px;
    font-style: inherit;
}
.btn-xl {
    background-color: orange;
    }
.buffer {
    height: 5rem;
}